<% if object.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(object.errors.count, "error") %> prohibited this form comment from being saved:</h2>

    <ul>
      <% object.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
