<% if flash.any? %>
  <% flash.each do |type, msg| %>
    <% if type == 'alert' %>
      <%= content_tag :div, msg,
                            class: "alert alert-danger alert-dismissible fade show",
                            role: :alert,
                            data: { controller: 'autohide' } do %>
        <strong>Note!</strong>
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <% end %>
    <% else %>
      <%= content_tag :div, msg,
                            class: "alert alert-primary alert-dismissible fade show",
                            role: :alert,
                            data: { controller: 'autohide' } do %>
        <strong>Thanks</strong>
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <% end %>
    <% end %>
  <% end %>
<% end %>
