body {
  margin-top: 25px;
}

// flash section
#notifications {
  display: flex;
  justify-content: flex-end;
}

#alert-flash,
#notice-flash {
  border-left-color: cornflowerblue;
  border-left-width: 8px;
  width: 400px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: -16px;
}

#alert-flash {
  border-left-color: coral;
}
// end flash section

.btn-link {
  color: lightgray;
  opacity: .75 !important;
}

.btn-link:hover {
  color: inherit !important;
  opacity: .95 !important;
}

#close-custom {
  opacity: .25;
}

#close-custom:hover {
  opacity: .95;
}
// .btn:hover {
//   opacity: .95 !important;
//   color: red !important;
// }

// bootstrap
.form-select {
  -webkit-appearance:none !important;
  -moz-appearance: none;
  appearance: none;
  outline: -webkit-focus-ring-color auto 5px;
}
